h1
{
	text-align:center;
	background-color:red;
	
}
h2
{
	padding-bottom:30px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:black;
}
.left
{
	float:left;
	margin-right:50px;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:black;
	height:100%;
	padding:10px;
}
.right p
{
	margin:5px;
	
}
.do
{
	padding-bottom:3px;
		border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:black;
	
}

div
{
	background-color:gray;
}


li
{
	padding:5px;
	padding-left:10px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:black;
	border-top-width:1px;
	border-top-style:solid;
	width:100%;
	padding-left:0px;
	margin-left:-30px;
	margin-right:30px;
	border-top-color:black;
}
li:hover
{
	background-color:white;
	padding-top:10px;
	padding-bottom:10px;
}
span
{
	
}
p
{
	
}